div {
    font-family: PatrickHand-Regular, Blokletters-Potlood-webfont, Arial, sans-serif;
}

section div {
    font-family: Blokletters-Potlood-webfont, Arial, Helvetica, sans-serif;
}

footer {
    text-align: center;
    position: sticky;
    bottom: 0;
}