header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1d89e4;
    text-align: center;
  }
  
  h1 {
    color: white;
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
    margin: 3px;
  }
  
  form {
    padding-bottom: 20px;
    padding-top: 0px;
  }
    
  input[type="text"] {
    width: 60%;
    height: 50px;
    margin-right: 5px;
  }
  
  input[type="submit"] {
    background-color: orange;
    width: 50px;
    height: 50px;
    font-size: 100%;
  }