header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1d89e4;
  text-align: center;
}
  
  h1 {
    color: white;
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
    margin: 3px;
  }
  
  form {
    padding-bottom: 20px;
    padding-top: 0px;
  }
    
  .inputArticle {
    width: 60%;
    height: 50px;
    margin-right: 5px;
    padding-left: 10px;
  }
  
  input[type="submit"] {
    background-color: orange;
    width: 50px;
    height: 50px;
    font-size: 100%;
  }

  #listId {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }

  #currentListId {
      font-size: large;
  }

  #getListIdButton {
    padding: 5px;
  }

  #changeListId {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
  }