.section1, .section2 {
    display: flex;
      flex-direction: column;
      min-height: 15em;
      word-wrap: break-word;
    }
    
    section h4  {
        text-align: center;
        margin: auto;
    }
    
    .section1 li:nth-child(even) {
        background: #d3e5f2
    }

    .section1 li:nth-child(odd) {
        background: #ebf3fb
    }
    
    .section2 {
        background-color:  #e2e2e2;
    }
    
    .section2 li {
        text-decoration: line-through;
    }
    
    ul {
        list-style-type: none;
        text-align: left;
        font-weight: 900;
        margin: 10px;
        padding: 10px;
        text-transform: capitalize;
    }
    
    li {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    input[type="checkbox"] {
        margin: 10px;
    }

    .inputText {
        margin: 10px;
        height: 20px;
        min-width: 20%;
        max-width: 80%;
        color: #1d89e4;
        font-size:15px;
        border-radius: 20px 20px 20px;
        border: 1.5px #72b2e7 dashed;
        padding: 10px;
        overflow: scroll;
    }

    .section2 input[type="text"] {
        color: #908d8d;
        border: 1.5px #c6c4c4 dashed;
        box-shadow: 4px 5px 10px 1px #c6c4c4;
    }
    
    .resetButton {
        border: 3px orange ridge;
        border-radius: 10px 10px 10px;
        font-weight: bold;
        width: 80%;
        align-self: center;
        padding: 5px;
        margin: 20px;
        box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
        font-size: 100%;
    }